@page "/contact/update/{Id:int}"

<div class="row">
    <div class="col-12">
        <h3>Update Contact</h3>
    </div>
</div>

@if (ShowError)
{
    <ErrorList ErrorMessages="ErrorMessages" />
}

@if (UpdateRequest is not null)
{
    <div class="row">
        <div class="col-12 col-md-4">
            <div class="row">
                <EditForm Model="UpdateRequest" OnValidSubmit="HandleSubmit">
                    <div class="row">
                        <div class="col-12">
                            <label class="form-label">First Name</label>
                            <InputText class="form-control" @bind-Value="UpdateRequest.FirstName" />

                            <label class="form-label mt-1">Middle Name</label>
                            <InputText class="form-control" @bind-Value="UpdateRequest.MiddleName" />

                            <label class="form-label mt-1">Last Name</label>
                            <InputText class="form-control" @bind-Value="UpdateRequest.LastName" />

                            <label class="form-label mt-1">Phone #</label>
                            <InputText class="form-control" @bind-Value="UpdateRequest.Phone" />

                            <label class="form-label mt-1">Email</label>
                            <InputText class="form-control" @bind-Value="UpdateRequest.Email" />

                            @*<div class="form-group">
                        <label class="form-label">Photo</label>
                        <InputText class="form-control" @bind-Value="UpdateRequest.PhotoUrl" />
                        </div>*@

                            <label class="form-label mt-1">Birthday</label>
                            <InputDate class="form-control" @bind-Value="UpdateRequest.DateOfBirth" />

                            <div class="row mt-3">
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-header">
                                            Communication Schedule <small class="text-muted">Optional</small>
                                        </div>
                                        <div class="card-body">
                                            <label class="form-label">How often would you like to keep in touch?</label>
                                            <InputSelect class="form-control" @bind-Value="UpdateRequest.Frequency">
                                                <option value="null">Select a frequency</option>
                                                <option value="@Frequency.Weekly">@Frequency.Weekly</option>
                                                <option value="@Frequency.BiWeekly">@Frequency.BiWeekly</option>
                                                <option value="@Frequency.Monthly">@Frequency.Monthly</option>
                                                <option value="@Frequency.BiMonthly">@Frequency.BiMonthly</option>
                                                <option value="@Frequency.Quarterly">@Frequency.Quarterly</option>
                                                <option value="@Frequency.BiAnnually">@Frequency.BiAnnually</option>
                                                <option value="@Frequency.Annually">@Frequency.Annually</option>
                                            </InputSelect>

                                            <label class="form-label mt-1">Start Date</label>
                                            <InputDate class="form-control" @bind-Value="UpdateRequest.StartDate" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12 text-end">
                                    <button type="reset" class="btn btn-secondary" @onclick='() => Navigation.NavigateTo("/")'>Cancel</button>

                                    @if (DisableDelete)
                                    {
                                        <button type="button" class="btn btn-danger ms-1" disabled>
                                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                            Deleting...
                                        </button>
                                    }
                                    else
                                    {
                                        <button type="button" class="btn btn-danger ms-1" @onclick="HandleDelete">Delete</button>
                                    }

                                    @if (DisableSubmit)
                                    {
                                        <button type="button" class="btn btn-success ms-1" disabled>
                                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                            Submitting...
                                        </button>
                                    }
                                    else
                                    {
                                        <button type="submit" class="btn btn-success ms-1">Submit</button>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </EditForm>
            </div>
        </div>
    </div>
}
else
{
    <div class="row">
        <div class="col-12 text-center">
            <LoadingSpinner />
        </div>
    </div>
}