
<div class="card border-primary shadow">
    <div class="card-header">
        <input type="checkbox" class="form-check-input" checked="@IsSelected" @onchange="() => HandleSelectChange.InvokeAsync(ContactIndex)" />
        <h5 class="mb-0">@Contact.FullName</h5>
        <small><a href=@($"/contact/update/{Contact.ContactId}")>Update</a></small>
    </div>
    <div class="card-body">
        @if (Contact.Frequency is not null && Contact.StartDate is not null)
        {
            <p class="mb-0">Next (@Contact.Frequency): @ContactDateHelper.GetNextScheduledDate(Contact.Frequency, Contact.StartDate.Value, DateTime.Today).ToLongDateString()</p>
        }
        @if (Contact.DateOfBirth is not null)
        {
            <p class="mb-0">Birthday: @Contact.DateOfBirth.Value.ToShortDateString()</p>
        }
        @if (!string.IsNullOrEmpty(Contact.Email))
        {
            <p class="mb-0"><a href="mailto:@Contact.Email">@Contact.Email</a></p>
        }
        @if (!string.IsNullOrEmpty(Contact.Phone))
        {
            <p class="mb-0"><a href="tel:@Contact.Phone">@Contact.Phone</a></p>
        }
    </div>
</div>